<yandex>
    <logger>
        <level>information</level>
        <console>true</console>
    </logger>
    <listen_host>::</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <path>/var/lib/clickhouse/</path>
    <users_config>users.xml</users_config>
    <default_profile>default</default_profile>
    <default_database>default</default_database>
    <mark_cache_size>5368709120</mark_cache_size>
    <zookeeper incl="zookeeper-servers" optional="true"/>
    <networks>
        <ip>::/0</ip>
    </networks>
    <max_concurrent_queries>100</max_concurrent_queries>
    <max_threads>8</max_threads>
</yandex>
